<ion-view view-title="uploadFile">
    <ion-content>
    <div ng-hide='true'>
		
		<pdf-viewer ng-hide='pdfhide' delegate-handle="my-pdf-container"  url="pdfUrl" scale="1" show-toolbar="true"></pdf-viewer>
        <p><br><canvas id="canvas"></canvas></p>
        <p><br><canvas id="canvas1"></canvas></p>
    </div>
    <div id='to-pdf'></div>
    </ion-content>
    <ion-footer-bar  class="bar">
		  <div class="buttons">
		  	<input type="file"  accept="*/*" capture="camera" id="file_browse" onchange="angular.element(this).scope().updateattachment()" multiple/>
		    
		  </div>
		  <div class="buttons" >
		    <button class="button" ng-click="getTouchposition()">Sign</button>
		  </div>
		  <div class="buttons" >
		    <button class="button" ng-click="merge()">Merge</button>
		  </div>
	</ion-footer-bar>
</ion-view>
